body{
    background-color: #f6c0d0;
    margin-top: 0px; /* Retira a margem do topo da página */
}

#logo{
    height: auto;
    width: 290px;
}

a{
    text-decoration: none; /* Tira o sublinhado dos links do nav */
}

ul{
    display: flex;
    list-style: none; /* Deixe a lista sem marcadores */
    gap: 50px;
}

.container_nav{
    display:flex;
    flex-wrap: wrap; /* Faz com que os itens se alinhem para baixo quando a tela é pequena — RESPONSIVIDADE */
    justify-content: space-between; /* Deixa cada conteúdo de um lado */
    gap: 200px;
}

#aang{
    width: 1024px;
    height:576px;
}

.centralizar{
    display: flex;
    justify-content: center;
}

.container_imagem_central{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div{
    display: flex;
    justify-items: center;
    border-color:black;
    border-style: solid;
    width:auto;
    max-width: 1200px;
    height: 500px;
}