body{
    background-color: #f6c0d0;
    margin-top: 0px;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 290px;
}

ul{
    display: flex;
    gap: 50px;
}

.container_painel{
    display: flex;
}

nav{
    display: flex;
    justify-items: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#aang{
    width: 1024px;
    height:576px;
}

.centralizar{
    display: flex;
    justify-content: center;
}

.container_trabalho{
    display: flex;
    justify-content: center;    
    flex-direction: column;
}

.div{
    display: flex;
    justify-items: center;
    border-color:black;
    border-style: solid;
    width:auto;
    max-width: 1200px;
    height: 500px;
}